/***** General Styles ******/

*, *::before, *::after {
    box-sizing: border-box;
}

main {
    font-family: 'Nunito', sans-serif;
    display: grid;
    grid-template-columns: 30% 70%;
    overflow-wrap: break-word;
    margin: 15px;
}

/***** Main Styles ******/
  
.App-header {
    font-family: 'Edu TAS Beginner', cursive;
    font-stretch: semi-expanded;
    font-size: 35px;
    text-align: center;
    margin: 50px 0 0 0;
    text-decoration: underline darkgray 2.5px;
    text-shadow: 0 0 5px #556b2f, 0 0 10px #556b2f, 0 0 5px #556b2f, 0 0 10px #556b2f, 0 0 5px #556b2f98, 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF
}

.App-footer {
    font-family: 'Edu TAS Beginner', cursive;
    font-stretch: semi-expanded;
    text-align: end;
    font-size: 20px;
    margin: 50px;
    text-decoration: underline darkgray 1px;
}
    
.shopping-list {
    font-size: 18px;
    list-style-type: none;
    margin: 15px;
    padding: 0 100px 0 0;
    border-left: 2.5px solid #000000f7;
}
    
.shopping-item {
    padding: 10px 0 5px 10px;
    border-bottom: .5px solid #000000f7;
}

.shopping-list-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 0 10px;
}

.cancel-edit-button {
    background-color: darkgray;
    margin: 5px;
    color: black;
    width: 100px;
    height: 25px;
}

.buy-button {
    background-color: darkgray;
    color: black;
    margin: 5px;
    width: 100px;
    height: 25px;
}

.delete-button {
    background-color: lightcoral;
    margin: 5px;
    color: black;
    width: 100px;
    height: 25px;
}

.submit-button {
    background-color: darkgray;
    color: black;
    margin: 5px;
    width: 100px;
    height: 25px;
}

.form-add {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
  
.form-add .form-row {
    margin: 10px;
}

.form-add .item-name { 
    width: 200px; 
    height: 40px; 
    font-size: 50%;
}

.form-add .quantity {
    width: 200px; 
    height: 40px; 
    font-size: 50%;
}

.form-edit {
    font-style: italic;
    font-size: small;
    display: block;
}

.form-edit .item-name { 
    width: 50%;
    height: 80%;
    font-size: 110%;
    margin: 0 0 0 10px;
}

.form-edit .quantity {
    width: 50%;
    height: 80%;
    font-size: 110%;
    margin: 15px 0 0 5px;
}

.form-edit .submit-button {
    float: right;
}
  
  
/*** MEDIA STYLES ***/

@media screen and (max-width: 768px) {

    main {
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .form-add {
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
    }

    .form-add .item-name { 
        width: 90%;
        height: 60%;
        font-size: 80%;
    }

    .form-add .quantity {
        width: 90%;
        height: 60%;
        font-size: 80%;
    }

    .shopping-list {
        margin: 25px 0 0 0;
        padding: 0;
        max-width: 85%;
    }
}

@media screen and (max-width: 576px) {

    .shopping-list {
        font-size: 15px;
    }

    .form-add {
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
    }

    .App-header {
        font-size: large;
    }

    .App-footer {
        font-size: 15px;
        margin: 50px 25px 0 0;
    }
}