
* {
  background-image: url("./Components/Images/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
}

body {
  min-width: 355px;
}
